/* Global */
html {
    height: 100%;
 }
body {
    background-color: #E2E2DD;
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    width: 100%;
}
h1 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    margin-bottom: 0.5rem;
}
a:link,
a:visited,
a:active{
    color: #222;
    font-weight: bold;
    text-decoration: none;
}
label {
    font-weight: bold;
}

/* Sections */
summary {
    margin-bottom: 1.5rem;
}
footer {
    background: rgba(0,0,0,0.05);
    bottom: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.75rem;
    height: 1rem;
    right: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: absolute;
    text-align: right;
    width: 100%;
}
footer a {
    vertical-align: middle;
}
footer img {
    height: 1rem;
    vertical-align: middle;
}
footer .github-link {
    border-left: 1px dotted #999;
    margin-left: 5px;
    padding-left: 10px;
}

/* Mobile / Tablet */
@media (max-width: 700px) {
    footer {
        padding: 0.75rem;
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
}

/* Utility */
code {
    background-color: #cadab7;
    border-radius: .25rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.9em;
    padding: 0 .25rem;
}
code.error {
    background-color: #ead2d1;
}
pre {
    background-color: rgba(255,255,255,0.2);
    border-radius: .25rem;
    border: 1px solid #CCC;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: .65rem;
    padding: 1rem;
    text-align: left;
    white-space: break-spaces;
}
.ml-10 {
    margin-left: 10px;
}   
.caption {
    text-align: left;
    font-size: 0.75rem;
    font-weight: normal;
}
label {
    margin-right: 5px;
}